// Colors
$accent: #2067f4ff;
$primary: #4c84f8ff;
$primary300: #76a1f7ff;
// $primary20: #5285ef33;
// $primary60: #407cf866;
$secondary900: #181d24ff;
$secondary800: #1f2635ff;
$text100: #dae0ecff;
$text200: #b0b9cbff;
$text300: #848fa7ff;
$background: #13161aff;
$background200: #111317ff;
$redWarn: #c73a3aff;
