@use "colors" as *;

html {
    background-color: $background;
    text-align: center;
    color: $text100;
}

body {
    margin: 0;
    font-family: "Inter", "Roboto", sans-serif;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src:
        local(""),
        url("assets/fonts/InterVariable") format("ttf");
}

#app {
    height: 100vh;
}

.text {
    &-label {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.06rem;
        text-transform: uppercase;
        color: $text300;
    }

    &100,
    &-strong {
        color: $text100;
    }
    &200,
    &-default {
        color: $text200;
    }
    &300,
    &-muted {
        color: $text300;
    }
}

.icon,
.lucide-icon {
    $size: 16px;
    height: $size;
    width: $size;
    color: $text300;

    &-small {
        $size: 14px;
        height: $size;
        width: $size;
    }

    .color100 {
        color: $text100;
    }
    .color200 {
        color: $text200;
    }
    .color300 {
        color: $text300;
    }
}
