@use "colors" as *;

html {
    background-color: $background;
    color: $text100;
}

body {
    margin: 0;
    font-family: "Inter", "Roboto", sans-serif;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src:
        local(""),
        url("assets/fonts/InterVariable") format("ttf");
}

* {
    box-sizing: border-box;
    user-select: none;
    font-size: 16px;
}

#app {
    display: grid;
    grid-template: 42px 1fr / 300px 1fr;
    gap: 1px 1px;
    height: 100vh;
    width: 100vw;
    background-color: $secondary800;

    > * {
        background: $background;
    }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 32px;
    background-color: $background;
}

.buttonReset,
button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: $text100;
}

.text {
    &-secondary {
        font-size: 14px;
    }
    &-label {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.06rem;
        text-transform: uppercase;
        color: $text300;
    }

    &100, &-strong {
        color: $text100;
    }
    &200, &-default {
        color: $text200;
    }
    &300, &-muted {
        color: $text300;
    }
}

.icon,
.lucide-icon {
    $size: 16px;
    height: $size;
    width: $size;
    color: $text200;

    &-small {
        $size: 14px;
        @extend .icon;
    }
    &-big {
        $size: 20px;
        @extend .icon;
    }

    .color100 {
        color: $text100;
    }
    .color200 {
        color: $text200;
    }
    .color300 {
        color: $text300;
    }
}
